@page "/train/{Id:int}"

@using ChartJs.Blazor.PieChart
@using ChartJs.Blazor.LineChart

@if (train == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <h3>@train.Name</h3>
        <p>Тип поезда: @train.TrainType</p>
        <div>
            <label>Дата начала</label>
            <InputDate @bind-Value="From"/>

            <label>Дата конца</label>
            <InputDate @bind-Value="To" />

            <button @onclick="Search">Поиск</button>
            <div>
                <button @onclick="AddLineDiagrammDepartures">Показать линейный график зависимости времени отправлений</button>
                <button @onclick="AddBarDiagrammDepartures">Показать столбчатый график зависимости времени отправлений</button>
            </div>
            <div>
                <button @onclick="AddLineDiagrammArrivals">Показать линейный график зависимости прибытий</button>
                <button @onclick="AddBarDiagrammArrivals">Показать столбчатый график зависимости прибытий</button>
            </div>
            <div>
                <button @onclick="AddDifferenceDiagramm">Показать линейный график разницы времен</button>
                <button @onclick="AddBarDiagrammDifference">Показать столбчатый график разницы времен</button>
            </div>

            <button @onclick="GenerateExcelReport">Сформировать отчет</button>
        </div>


         <table class="table">
             <thead>
                 <tr>
                    <th>Номер поезда</th>
                    <th>Название</th>
                    <th>Станция</th>
                    <th>Запланированное время отправления</th>
                    <th>Запланированное время прибытия</th>
                    <th>Реальное время отправления</th>
                    <th>Реальное время прибытия</th>
                    <th>Разница во времени отправления</th>
                    <th>Разница во времени прибытия</th>
                 </tr>
             </thead>
             <tbody>
                 @foreach (var item in movements)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.To</td>
                        <td>@item.ScheduleDepartureTime</td>
                        <td>
                            @if (item.ScheduleArrivalTime == default)
                            {
                                
                            }
                            else
                            {
                                @item.ScheduleArrivalTime
                            }
                            </td>
                        <td>@item.RealDepartureTime</td>
                        <td>
                            @if (item.RealArrivalTime == default)
                            {

                            }
                            else
                            {
                                @item.RealArrivalTime
                            }
                        </td>
                        <td>@item.DifferenceDeparture</td>
                        <td>@item.DifferenceArrival</td>
                    </tr>
                }
             </tbody>
         </table>
         @if (ShowLineDiagrammDepartures)
        {
            <Chart Config="_depLine" />
        }
        @if (ShowBarDiagrammDepartures)
        {
            <Chart Config="_depBar" />
        }
        @if (ShowLineDiagrammArrivals)
        {
            <Chart Config="_arrLine" />
        }
        @if (ShowBarDiagrammArrivals)
        {
            <Chart Config="_arrBar" />
        }
        @if (ShowDifferenceDiagramm)
        {
            <Chart Config="_diffLine" />
        }
        @if (ShowBarDifferenceDiagramm)
        {
            <Chart Config="_diffBar"/>
        }
    </div>
}

